<mat-toolbar>
  <span><a routerLink="/" >Main Page</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="router-link-active">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="router-link-active">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="router-link-active">Sign up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button class="logout" mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>

<form class="form-wrapper cf">
  	<input type="text" placeholder="Search here..." required>
	  <button type="submit">Search</button>
</form>




