<div class="w3-top">
    <div class="topnav" id="myNavbar">
        <a routerLink="/">Home</a>
        <div class="float-right">
            <a routerLink="/create" *ngIf="userIsAuthenticated">My Page</a>
            <div class="dropdown">
                <div class="dropbtn">My Profile</div>
                <div class="dropdown-content">
                    <a routerLink="/auth/login" *ngIf="!userIsAuthenticated">Login</a>
                    <a class="logout" (click)="onLogout()" *ngIf="userIsAuthenticated">Logout</a>
                    <a routerLink="/auth/signup" *ngIf="!userIsAuthenticated">Sign up</a>
                </div>
            </div>
        </div>
        <a href="javascript:void(0);" class="icon" (click)="respNav()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<form class="form-wrapper cf">
    <input type="text" placeholder="Search here..." required>
    <button type="submit">Search</button>
</form>