<mat-card>
        <div class="sk-fading-circle" *ngIf="isLoading">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
              </div>
  <form (submit)="onSignUp(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input
             matInput
             name="email"
             ngModel
             type="email"
             placeholder="E-Mail"
             #emailInput="ngModel"
             required
             email>
             <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input
            type="password"
            name="password"
            ngModel
            matInput
            placeholder="Password"
            #passwordInput="ngModel"
            required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
        type="password"
        name="passwordConf"
        ngModel
        matInput
        placeholder="Password Configuration"
        #passwordConfInput="ngModel"
        required>
        <mat-error *ngIf="passwordConfInput.invalid">Passwords do not match.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
    type="text"
    name="name"
    ngModel
    matInput
    placeholder="Name"
    #nameInput="ngModel"
    required>
    <mat-error *ngIf="nameInput.invalid">Please enter a valid name.</mat-error>
</mat-form-field>
 
  <mat-form-field>
    <input
    type="tel"
    name="tel"
    ngModel
    matInput
    placeholder="Telephone number"
    #telInput="ngModel"
    minlength="8"
    >
    <mat-error *ngIf="telInput.invalid">Please enter a valid telephon number.</mat-error>
</mat-form-field>

<mat-form-field>
    <input
    type="text"
    name="adresse"
    ngModel
    matInput
    placeholder="Adresse"
    #adresseInput="ngModel"
    required>
    <mat-error *ngIf="adresseInput.invalid">Please enter a valid adresse.</mat-error>
</mat-form-field>

      <button mat-raised-button type="submit" *ngIf="!isLoading">Sign up</button>
  </form>
</mat-card>


