main {
  width: 80%;
  margin: auto;
}

#front {
  background-image:  url("backend/images/newwwww1.jpg");
  background-size: 100% auto no-repeat;
  height: 82em;
}

#back {
  background-image:  url("backend/images/lila.png");
  background-size: 100% auto no-repeat;
  height: 80em;
}

 