main {
  width: 80%;
  margin: auto;
}

#front {
  background-image:  url("backend/images/newwwww1.jpg");
  background-size: 100% auto no-repeat;
  height: 82em;
}

#back {
  background-color: #D4E9EA;
  background-size: 100% auto no-repeat;
  height: 250em;
}

 