<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="container" >
    <div class="sk-fading-circle" *ngIf="isLoading">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    <div class="row top1" *ngIf="!isLoading" >
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default" >
                <div class="panel-heading" style="background-color: black; color: white;">
                    <h4> <i class="fas fa-user" style="margin-right: 0.5rem;"></i>My Profile</h4>
                </div>
                <div class="panel-body" >
                    <div class="box box-info" >
                        <div class="box-body"  >
                            <div class="col-sm-6">
                                <div align="center">
                                    <div *ngIf='targetProfile?.id'>
                                    <img alt="" [src]="targetProfile?.imagepath" id="profile-image2" class="img-circle img-responsive">
                                </div>
                                  <div *ngIf='targetProfile?.id === null'>
                                    <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                                  </div>
                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <!--Upload Image Js And Css-->
                                </div>
                                <br>
                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6" >
                                <h4 style="color:#00b1b1;"  >{{ targetProfile?.name }}</h4>
                                <span>
                                    <p >Company name</p>
                                </span>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Website:</div>
                            <div class="col-sm-7 col-xs-6 "> {{ targetProfile?.website }}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Phone Number:</div>
                            <div class="col-sm-7 col-xs-6 ">{{ targetProfile?.number }}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Workfield:</div>
                            <div class="col-sm-7"> {{ targetProfile?.workfield }}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Services:</div>
                            <div class="col-sm-7"> {{ targetProfile?.services }}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Year of creation:</div>
                            <div class="col-sm-7">{{ targetProfile?.year }}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Location:</div>
                            <div class="col-sm-7">{{ targetProfile?.location }}</div>


                            <div class="clearfix"></div>
                            <div class="border" style="margin-top: 5%; border-style: solid; border-width: 1px; border-color: #6495ED;"></div>

                            <mat-action-row>
                                <button mat-button color="primary" style="float: right; margin-top: 1%;" [routerLink]="['/edit', targetProfile.id]" *ngIf='targetProfile?.id' >EDIT</button>
                                <button mat-button color="primary" style="float: right; margin-top: 1%;" (click)='onCreate()' *ngIf='targetProfile?.id === null' >CREATE</button>
                            
                            </mat-action-row>
                          
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script>
            $(function() {
                $('#profile-image1').on('click', function() {
                    $('#profile-image-upload').click();
                });
            });
        </script>
    </div>

