input.hidden {
    display: table;
    margin: 2em auto auto auto;
}

.top1 {
    margin-top: 7%;
}

#profile-image1 {  
    width: 170px;
    height: 170px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
     .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	
     

 input[type="file"] {
    visibility: hidden;
  }
  

