<div class="container">
    <div class="row top1">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color: black; color: white;">
                    <h4>Edit Profile</h4>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <form [formGroup]="form" *ngIf="!isLoading">
                                <div class="col-sm-6">
                                    <div align="center">
                                        <div *ngIf="imagePreview !== ''">
                                            <img alt="" [src]="imagePreview"  id="profile-image1" class="img-circle img-responsive">
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-warning" (click)="filePicker.click()" style="margin-top:0.7em;">Pick Image</button>
                                            <input type="file" #filePicker (change)="onImagePicked($event)">
                                        </div>
                                        <div style="color:#999;">click here to add company's logo</div>
                                        <!--Upload Image Js And Css-->
                                    </div>
                                    <br>
                                    <!-- /input-group -->
                                </div>
                                <div class="col-sm-6">
                                    <span>
                                    <mat-form-field>
                                     <input matInput type="text" formControlName="name" placeholder="Company name" style="cursor: pointer;" required>
                                    </mat-form-field>
                                </span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">

                                <div class="col-sm-6 col-xs-7 tital ">

                                    <div class="col-sm-5 col-xs-6 tital " style="margin-top: 4%;">Website: </div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital " style="margin-top: 4%;">Phone number: </div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital " style="margin-top: 8%;">Workfield: </div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital " style="margin-top: 7%;">Services: </div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital " style="margin-top: 1%;">Year of creation:</div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital " style="margin-top: 6%;">Location:</div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>
                                </div>

                                <div class="col-sm-6 col-xs-5 ">
                                    <mat-form-field>
                                        <div class="col-sm-7 col-xs-6 ">
                                            <input matInput type="url" formControlName="website" placeholder="Company website" style="cursor: pointer;" required>
                                        </div>
                                        <mat-error *ngIf="form.get('website').invalid && form.get('website').touched">Please enter a valid url.</mat-error>
                                    </mat-form-field>

                                    <div class="clearfix"></div>

                                    <mat-form-field>
                                        <div class="col-sm-7 col-xs-6 ">
                                            <input matInput type="text" formControlName="number" placeholder="Phone Number" style="cursor: pointer;" required>
                                        </div>
                                    </mat-form-field>

                                    <div class="clearfix"></div>

                                    <mat-form-field>
                                        <div class="col-sm-7 col-xs-6 ">
                                            <input matInput type="text" formControlName="workfield" placeholder="Workfield" style="cursor: pointer;" required>
                                        </div>
                                    </mat-form-field>

                                    <div class="clearfix"></div>

                                    <mat-form-field>
                                        <div class="col-sm-7 col-xs-6 ">
                                            <input matInput type="text" formControlName="services" placeholder="Services" style="cursor: pointer;" required>
                                        </div>
                                    </mat-form-field>

                                    <div class="clearfix"></div>

                                    <mat-form-field>
                                        <div class="col-sm-7 col-xs-6 ">
                                            <input matInput type="number" min="1800" max="2018" formControlName="year" placeholder="Year of creation" style="cursor: pointer;" required>
                                        </div>
                                        <mat-error *ngIf="form.get('year').invalid && form.get('year').touched">Please enter an existing year.</mat-error>
                                    </mat-form-field>

                                    <div class="clearfix"></div>

                                    <mat-form-field>
                                        <div class="col-sm-7 col-xs-6 ">
                                            <input matInput type="text" formControlName="location" placeholder="Location" style="cursor: pointer;" required>
                                        </div>
                                    </mat-form-field>
                                </div>

                                <div class="clearfix"></div>
                                <div class="border" style="margin-top: 5%; border-style: solid; border-width: 1px; border-color: #6495ED;"></div>

                                <mat-action-row>
                                    <button mat-button (click)="saveProfile()" color="primary" style="float: right; margin-top: 1%;" type="button">SAVE</button>
                                </mat-action-row>
                            </form>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>